// Set bash options 
 process.shell = [ 
     "bash", 
     "-e",         // Exit if a tool returns a non-zero status/exit code 
     "-u",         // Treat unset variables and parameters as an error 
     "-o",         // Returns the status of the last command to exit.. 
     "pipefail"    //   ..with a non-zero status or zero if all successfully execute 
 ] 

conda.channels = ['bioconda','conda-forge','default']
conda.createTimeout = '10 min'

process {
  resourceLimits = [
    cpus: 12,
    memory: 72.GB,
    time: 48.h
  ]
}
