singularity.pullTimeout = '60m'

process {
	withName: 'NFCORE_METHYLONG:METHYLONG:ONT:ONT_TRIM_REPAIR:PORECHOP_PORECHOP'{
		cpus = 36
		memory = 432.GB
		time = 48.h
	}	
	withName: 'NFCORE_METHYLONG:METHYLONG:ONT:ONT_ALIGN:DORADO_ALIGNER'{
                cpus = 36
                memory = 432.GB
                time = 48.h
        }
	withName: 'NFCORE_METHYLONG:METHYLONG:ONT:ONT_TRIM_REPAIR:SAMTOOLS_IMPORT'{
		cpus =36
		memory = 432.GB
		time = 48.h
	}
	withName: 'NFCORE_METHYLONG:METHYLONG:ONT:ONT_TRIM_REPAIR:MODKIT_REPAIR'{
		cpus = 36
		memory = 432.GB
		time = 48.h
	}
}

process {
  env {
    SINGULARITYENV_TMPDIR ='/myriadfs/home/sejjimf/tmp'
    APPTAINERENV_TMPDIR='/myriadfs/home/sejjimf/tmp'
  }
}
